@keyframes gradientAnimation {
    0% {
        background: linear-gradient(to right, rgba(100, 100, 100, 1) 2%, rgba(0, 0, 0, 1) 25%, rgba(255, 165, 0, 1) 150%);
    }
    5% {
        background: linear-gradient(to right, rgba(95, 95, 95, 1) 3%, rgba(0, 0, 0, 1) 27%, rgba(255, 165, 0, 1) 150%);
    }
    10% {
        background: linear-gradient(to right, rgba(90, 90, 90, 1) 4%, rgba(0, 0, 0, 1) 29%, rgba(255, 165, 0, 1) 150%);
    }
    15% {
        background: linear-gradient(to right, rgba(85, 85, 85, 1) 5%, rgba(0, 0, 0, 1) 32%, rgba(255, 165, 0, 1) 150%);
    }
    20% {
        background: linear-gradient(to right, rgba(80, 80, 80, 1) 6%, rgba(0, 0, 0, 1) 35%, rgba(255, 165, 0, 1) 150%);
    }
    25% {
        background: linear-gradient(to right, rgba(75, 75, 75, 1) 7%, rgba(0, 0, 0, 1) 38%, rgba(255, 165, 0, 1) 150%);
    }
    30% {
        background: linear-gradient(to right, rgba(70, 70, 70, 1) 8%, rgba(0, 0, 0, 1) 41%, rgba(255, 165, 0, 1) 150%);
    }
    35% {
        background: linear-gradient(to right, rgba(65, 65, 65, 1) 9%, rgba(0, 0, 0, 1) 44%, rgba(255, 165, 0, 1) 150%);
    }
    40% {
        background: linear-gradient(to right, rgba(60, 60, 60, 1) 10%, rgba(0, 0, 0, 1) 47%, rgba(255, 165, 0, 1) 150%);
    }
    45% {
        background: linear-gradient(to right, rgba(55, 55, 55, 1) 11%, rgba(0, 0, 0, 1) 50%, rgba(255, 165, 0, 1) 150%);
    }
    50% {
        background: linear-gradient(to right, rgba(50, 50, 50, 1) 12%, rgba(0, 0, 0, 1) 53%, rgba(255, 165, 0, 1) 150%);
    }
    55% {
        background: linear-gradient(to right, rgba(45, 45, 45, 1) 13%, rgba(0, 0, 0, 1) 56%, rgba(255, 165, 0, 1) 150%);
    }
    60% {
        background: linear-gradient(to right, rgba(40, 40, 40, 1) 14%, rgba(0, 0, 0, 1) 59%, rgba(255, 165, 0, 1) 150%);
    }
    65% {
        background: linear-gradient(to right, rgba(35, 35, 35, 1) 15%, rgba(0, 0, 0, 1) 62%, rgba(255, 165, 0, 1) 150%);
    }
    70% {
        background: linear-gradient(to right, rgba(30, 30, 30, 1) 16%, rgba(0, 0, 0, 1) 65%, rgba(255, 165, 0, 1) 150%);
    }
    75% {
        background: linear-gradient(to right, rgba(25, 25, 25, 1) 17%, rgba(0, 0, 0, 1) 68%, rgba(255, 165, 0, 1) 150%);
    }
    80% {
        background: linear-gradient(to right, rgba(20, 20, 20, 1) 18%, rgba(0, 0, 0, 1) 71%, rgba(255, 165, 0, 1) 150%);
    }
    85% {
        background: linear-gradient(to right, rgba(15, 15, 15, 1) 19%, rgba(0, 0, 0, 1) 74%, rgba(255, 165, 0, 1) 150%);
    }
    90% {
        background: linear-gradient(to right, rgba(10, 10, 10, 1) 20%, rgba(0, 0, 0, 1) 77%, rgba(255, 165, 0, 1) 150%);
    }
    95% {
        background: linear-gradient(to right, rgba(5, 5, 5, 1) 21%, rgba(0, 0, 0, 1) 80%, rgba(255, 165, 0, 1) 150%);
    }
    100% {
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    }
}

.home{
    width: 100vw;
    height: 94vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    padding-top: 6vh;
    gap: 2vw;
    background-image:  radial-gradient(circle at 50% 150%, rgba(255, 175, 84, 0.6) 20%, rgba(0, 0, 0, 0) 60%),
    radial-gradient(circle at 20% 200%, rgba(255, 175, 84, 0.6) 25%, rgba(0, 0, 0, 0) 55%),
    radial-gradient(circle at 80% 200%, rgba(255, 175, 84, 0.6) 25%, rgba(0, 0, 0, 0) 55%);
}
.home div{
    width: 40vw;
    height: 80vh;
}
.contentSection {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: white;
    padding-top: 15vh;
}
.contentSection h1{
    background: linear-gradient(to right, #ff6f00, #00c853);
    -webkit-background-clip: text;
    color: transparent;
    font-size: xx-large;
    letter-spacing: 0.3vw;
    margin-bottom: 4vh;
}
#princeText{
    color: orange
}
.contentSection #mainWords{
    font-size: xx-large;
    margin-bottom: 2vh;
}
.contentSection .chatLink{
    background: linear-gradient(to right, rgba(100, 100, 100, 1) 2%, rgba(0, 0, 0, 1) 25%, rgba(255, 165, 0, 1) 150%);
    width: 20vw;
    height: 8vh;
    margin-top: 4vh;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    color: white;
    transition: background 0.8s ease; 
}

.chatLink:hover{
    cursor: pointer;
    animation: gradientAnimation 1s ease-in-out forwards;
}

.chatLink span{

}
.chatLink div{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 50%;
}

.chatLink div:hover{
    background-color: grey;
}

.chatLink img{
    width: 20px;
}

.imageSection{
    
  background: url('../../../public/portMan.png') center/cover no-repeat;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
  background-size: 150%;
}


.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #ffffff33;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.mobileChatLink{
    border: none;
    margin-top: 4vh;
    background-color: #b38b00;
    width: 15vw;
    display: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.mobileChatLink:hover{
    cursor: pointer;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media only screen and (max-width: 1434px) {
    .chatLink{
        width: 30vw !important;
    }
}

@media only screen and (max-width: 934px) {
    .chatLink{
        width: 40vw !important;
    }
}

@media only screen and (max-width: 624px) {
    .mobileChatLink{
        display: block;
        width: 88px;
    }

    .chatLink{
        display: none !important;
    }

    .home{
        height: 70vh;
        width: 100vw;
        box-sizing: border-box;
        padding: 20px;
    }
    .contentSection h1{
       font-size: large;
    }
    .contentSection{
        font-size: small;
    }

    .imageSection {
        background-size: 300%;
    }
}


@media only screen and (max-height: 760px) {
   .home {
    height: 80vh;
   }
}

@media only screen and (max-height: 490px) {
    .home {
     height: 100vh;
    }
 }

 @media only screen and (max-height: 666px){
    .home{
        height: 150vh;
    }

    .chatLink{
        height: 40vh !important;
    }
 }
 





